In [8]:
#Import dependencies and setup
from bs4 import BeautifulSoup as soup
from splinter import Browser
import pandas as pd
import requests
import pymongo
from webdriver_manager.chrome import ChromeDriverManager

In [9]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Driver [/Users/shannonkane/.wdm/drivers/chromedriver/mac64/99.0.4844.51/chromedriver] found in cache

In [10]:
# Visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [11]:
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('ul.item_list li.slide')

In [12]:
soup

bs4.BeautifulSoup

In [13]:
# # Extract title  and paragraph text
# news_title = news_soup.find("div",class_="content_title").text
# news_para = news_soup.find("div", class_="rollover_description_inner").text
# print(f"Title is: {news_title}")
# print(f"Paragraph is: {news_para}")

In [16]:
slide_elem.find("div", class_='content_title')

In [17]:
# Use the parent element to find the first `a` tag and save it as `news_title`
news_title = slide_elem.find("div", class_='content_title').get_text()
news_title

"NASA's Perseverance Rover Hightails It to Martian Delta"

In [18]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_="article_teaser_body").get_text()
news_p

'The rover’s self-driving capabilities will be put to the test this month as it begins a record-breaking series of sprints to its next sampling location.'

In [23]:
# Visit URL
url = 'https://spaceimages-mars.com/'
browser.visit(url)

html=browser.html
img_soup=soup(html,'html.parser')

In [25]:
# Find and click the full image button
full_image_elem = img_soup.find('img', class_='headerimage fade-in')['src']
full_image_elem

'image/featured/mars1.jpg'

In [26]:
feat_img_url= url+full_image_elem
feat_img_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [27]:
browser.quit()

In [29]:
mars_facts_url="https://galaxyfacts-mars.com/"
mars_facts_url

'https://galaxyfacts-mars.com/'

In [33]:
# use pandas to pull data from table
mars_table=pd.read_html(mars_facts_url)
mars_df=mars_table[1]
mars_df.columns=['Labels','Measurement']
mars_df.set_index('Labels', inplace=True)
mars_df.index.name=None
mars_df

                                        Measurement
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [36]:
mars_table = mars_df.to_html(index=False, header=False, classes='table table-striped')
mars_table

'<table border="1" class="dataframe table table-striped">\n  <tbody>\n    <tr>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'